<!-- <app-image-slide></app-image-slide> -->

<div class="container mt-3 mb-3">
  <h3><b>News</b> &nbsp; <i class="far fa-newspaper"></i></h3>
  <hr style="border-color: orange ;">
  <div class="row">
    <div class="col mt-5 mb-5">
      <img src="../../../assets/images/2.jpg" style="width: 300px;" alt="" data-aos="fade-right" data-aos-duration="2000">
    </div>
    <div class="col"  data-aos="fade-left" data-aos-duration="2000">
      <h5>Head Line</h5>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi temporibus voluptatibus possimus? Quos natus
        inventore obcaecati unde quibusdam tempore ad nisi eius laudantium. Minus ex ratione corporis labore quam iusto
        est sed consequuntur. Nemo laboriosam sit eaque tempore tempora molestias a inventore ipsam est nihil, iste
        optio quas autem! Expedita facilis voluptate inventore at quo eum dolore mollitia earum, repudiandae, laborum
        deleniti! Eos labore culpa quia nulla dolorum, perspiciatis temporibus, accusamus, laudantium non iure ab
        fugiat? Quo minima quas fugit illo nostrum dicta et, iure nulla aliquam labore laborum facilis molestiae
        repellat magnam beatae asperiores commodi rem dolorem veniam. Accusantium!</p>
    </div>
  </div>

  <hr style="border-color: orange ;">

  <div class="row">
    <div class="col"  data-aos="fade-right" data-aos-duration="2000">
      <h5>Head Line</h5>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi temporibus voluptatibus possimus? Quos natus
        inventore obcaecati unde quibusdam tempore ad nisi eius laudantium. Minus ex ratione corporis labore quam iusto
        est sed consequuntur. Nemo laboriosam sit eaque tempore tempora molestias a inventore ipsam est nihil, iste
        optio quas autem! Expedita facilis voluptate inventore at quo eum dolore mollitia earum, repudiandae, laborum
        deleniti! Eos labore culpa quia nulla dolorum, perspiciatis temporibus, accusamus, laudantium non iure ab
        fugiat? Quo minima quas fugit illo nostrum dicta et, iure nulla aliquam labore laborum facilis molestiae
        repellat magnam beatae asperiores commodi rem dolorem veniam. Accusantium!</p>
    </div>
    <div class="col mt-5 mb-5">
        <img src="../../../assets/images/1.jpg" style="width: 300px;" alt="" data-aos="fade-left" data-aos-duration="2000">
      </div>
  </div>

  <hr style="border-color: orange ;">

  <div class="row">
    <div class="col mt-5 mb-5">
      <img src="../../../assets/images/3.jpg" style="width: 300px;" alt="" data-aos="fade-right" data-aos-duration="2000">
    </div>
    <div class="col" data-aos="fade-left" data-aos-duration="2000">
      <h5>Head Line</h5>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi temporibus voluptatibus possimus? Quos natus
        inventore obcaecati unde quibusdam tempore ad nisi eius laudantium. Minus ex ratione corporis labore quam iusto
        est sed consequuntur. Nemo laboriosam sit eaque tempore tempora molestias a inventore ipsam est nihil, iste
        optio quas autem! Expedita facilis voluptate inventore at quo eum dolore mollitia earum, repudiandae, laborum
        deleniti! Eos labore culpa quia nulla dolorum, perspiciatis temporibus, accusamus, laudantium non iure ab
        fugiat? Quo minima quas fugit illo nostrum dicta et, iure nulla aliquam labore laborum facilis molestiae
        repellat magnam beatae asperiores commodi rem dolorem veniam. Accusantium!</p>
    </div>
  </div>
</div>
