<!-- <app-image-slide></app-image-slide> -->

<div class="container mt-5 mb-3">
  <div class="text-center">
    <h2>ສະໜອງອຸປະກອນ ສື່ສານໂທລະຄົມ
      <hr style="width: 30%; border-color: orange ;">
    </h2>
  </div>
  <h4>Electricity Power Trade – 530 mw of Shan state, Myanmar </h4>
  <p>This project collaborates with Tai Siam Trade, Tongghy Myanmar. First phase – 30mw located Thachilek – Tonpheng.
    Zaha and Electric Due Laos (EDL) agreed on purchase of electricity power, at technical part of supply voltage in
    115kv (Laos) and 132KV (Myanmar)</p>
  <div class="text-center">
    <img src="../../../assets/images/1.jpg" style="width: 900px; height: 450px; background-size: cover;" alt="">
  </div>

  <div class="container mt-5">
    <h4>Internet Service Provider (ISP) </h4>
    <p>Zaha organize one subsidiary in Savannakhet province, to provides serves for accessing, using in the internet
      Execute, Memorandum of Understand of Cooperation between Sky Telecom on business collaborate for service in Lao
    </p>
    <p>Zaha is studying in connection of fiber optics network, Intelligence Transportation Communication System, Online
      CCTV, Vehicle tracking, mobile application and contents.
    </p>
    <div class="text-center">
      <img src="../../../assets/images/3.jpg" style="width: 900px; height: 450px; background-size: cover;" alt="">
    </div>
  </div>
</div>
