<!-- <app-image-slide></app-image-slide> -->
  <div class="container mb-2 mt-5">
      <div class="title">
        <h4>Vision & Mission</h4>
        <hr style="width: 100px; border: solid orange;">
      </div>
    <div class="media">
        <!-- <img class="align-self-center mr-3" src="../../../assets/images/counters-bg.jpg" alt="Generic placeholder image" data-aos="fade-right" data-aos-duration="2000"> -->
        <div class="media-body" data-aos="fade-left" data-aos-duration="2000">
          <h5 class="mt-0">Vision:</h5>
          <p>ເປັນຜູ້ນຳດ້ານການຄ້າ ແລະ ບໍລິການ, ສະໜອງຄວາມສາມາດຄວາມຊຳນານ, ພັດທະນາພື້ນຖາມດ້ານພະລັງງານ, ໄອທີ, ເທັກໂນໂລຊີ, ສ້າງນະວັດຕະກຳ, ສ້າງທ່າແຮງຄວາມກ້າວໜ້າໃຫ້ຊຸມຊົນ, ພັດທະນາສັງຄົມ ແລະ ເສດຖະກິດ.</p>
        </div>
      </div>
      <hr>
    <div class="media">
        <!-- <img class="align-self-center mr-3" src="../../../assets/images/2.jpg" alt="Generic placeholder image" data-aos="fade-right" data-aos-duration="2000"> -->
        <div class="media-body" data-aos="fade-left" data-aos-duration="2000">
          <h5 class="mt-0">Mission:</h5>
          <p>ພັດທະນາອົງກອນໃຫ້ເປັນທີ່ຍອມຮັບ, ເລັ່ງສ້າງຜະລິດຕະພັນ ແລະ ບໍລິການ ທີ່ມີຄຸນນະພາບ, ມີເທັກໂນໂລຊີເໝາະສົມ ມີບຸນຄະລາກອນທີ່ມີຄວາມຮູ້ວິຊາການທີ່ດີທີ່ສຸດ.</p>
          <p class="mb-0">ສ້າງຜົນປະໂຫຍດໃຫ້ຜົນຕອບແທນ ແລະ ກຳໄລຈາກການດຳເນີດທຸລະກິດ, ມີການຄຸ້ມຄອງໃນການດຳເນີດທຸລະກິດແບ່ງປັນຜົນສຳເລັດ ເພື່ອສີ່ງທີ່ດີທີ່ສຸດສຳລັບຜູ້ມີສ່ວນຮ່ວມ ແລະ ຊຸມຊົນ.</p>
        </div>
      </div>
  </div>
  <br>
  <div class="container" data-aos="fade-up" data-aos-duration="2000">
   
        <h4><u>ຄຳນິຍົມ ໃນອົງກອນ</u></h4>
      <ul class="mb-5">
        <p>Z	: &nbsp; ມີຄວາມເອົາໃຈໃສ່ ຄິດຈາກ ຜົນໄດ້ຮັບຢູ່ສຸດທ້າຍກ່ອນ (Last thing, but first think) </p>
        <p>A	:&nbsp;	ມີຄວາມພ້ອມດຳເນີນທຸລະກິດ, ເຮັດໃຫ້ດີກວ່າ (Automation, better Advantage) </p>
        <p>H	:&nbsp;	ມີບຸກຄະລາກອນທີ່ມີຄວາມພ້ອມ (Human development) </p>
        <p>A	:&nbsp;	ມີເຫດມີຜົນ ອະທິບາຍໄດ້ ມີຄວາມຮັບຜິດຊອບ (Accountability, responsibility)</p>
      </ul>

      
  </div>