<!-- <app-image-slide></app-image-slide> -->

<div class="container mt-5 mb-3">
  <div class="text-center">
    <h2 data-aos="fade-up" data-aos-duration="2000">ການນຳເຂົ້າ-ສົ່ງອອກ ສິນຄ້າອຸປະໂພກ, ບໍລິໂພກ, ວັດສະດຸກໍ່ສ້າງ ແລະ ຜະລິດຕະພັນກະສິກຳ
      <hr style="border: solid orange; width:50%;">
    </h2>
  </div>

  <div class="row mt-5">
    <div class="col-5">
      <img src="../../../assets/images/counters-bg.jpg" style="width: 400px;" data-aos="fade-right" data-aos-duration="2000" alt="">
    </div>
    <div class="col" data-aos-duration="2000" data-aos="fade-left">
      <h4>Trading:
        <hr>
      </h4>
      <p>Provide goods and products in local market to export, to transit near border such as Thailand, Viet Nam, China,
        Myanmar.</p>
      <p>Be agent / distributor, imports from overseas such as Japan, Korea, Thailand, china; in order to doing local market, </p>
      <p>Purchase and Sale coals in local market to supply cements plants, steel mill, and thermal plants </p>
    </div>
  </div>

  <hr>

  <div class="row mt-5">
    <div class="col-5">
      <img src="../../../assets/images/3.jpg" style="width: 400px;" data-aos="fade-right" data-aos-duration="2000" alt="">
    </div>
    <div class="col" data-aos-duration="2000" data-aos="fade-left">
      <h4>Engineering/Construction:
        <hr>
      </h4>
      <p>Since 201 0, has started providing the consulting service on construction, commercial building, offices, residents. </p>
      <p>We also provide engineering experts project management, technical team, cost and budgeting control.  </p>
    </div>
  </div>
</div>
