<app-image-slide></app-image-slide>

<div class="container mb-4">
  <div class="text-center mt-3">
    <h2><b>ບໍລິສັດ ສະຫະທຣັສ ການຄ້າ ແລະ ບໍລິການ ຈຳກັດ</b> </h2>
    <hr style="width: 40%; border: solid orange">
  </div>

  <div class="row mt-5">
    <div class="col-sm-5" data-aos="fade-up" data-aos-duration="2000">
      <img src="../../../assets/images/1.jpg" alt="">
    </div>
    <div class="col" data-aos="fade-up" data-aos-duration="2000">
      <p> <b style="font-size: 18px; color: rgba(206, 23, 23, 0.856);">ບໍລິສັດ ສະຫະທຣັສ</b> ເປັນຜູ້ໃຫ້ບໍລິການ ດ້ານການຄ້າ
        ການລົງທຶນໃນ ຫຼາຍຂະແໜງການ, ການນໍາເຂົ້າ - ສົົ່ງອອກ ສິນຄ້າ ອຸປະໂພກ, ບໍລິໂພກ, ວັດສະຖຸກໍ່ສ້າງ ແລະ
        ຜະລິດຕະພັນກະສິກໍາ. ໄດ້ລົງທຶນຂະຫຍາຍກິດຈະການໂດຍແນໃສ່ດ້ານເທັກໂນໂລຊີ, ໂທລະມະນາຄົມ-ການສື່ສານ,
        ດ້ານພະລັງງານຮ່ວມກັບພັນທະມິດ ແລະ
        ຄູ່ຮ່ວມຍຸດທະສາດ ເພື່ອສ້າງທ່າແຮງພັດທະນາທຸລະກິດຢ່າງໝັ້ນຄົງ.</p>
      <p>
        ໄດ້ເລັງເຫັນ ໃນອານາຄົດອັນໃກ້ ທີ່ນະວັດຕະກໍາ ຄວາມກ້າວໜ້າທາງດ້ານເທັກໂນໂລຊີ ຈະເປັນສ່ວນໜຶ່ງຂອງຫຼາກຫຼາຍທຸລະກິດ ແລະ
        ການສ້າງພັນທະມິດ. ມີຜູ້ບໍລິຫານທີ່ເປັນມືອາຊີບ, ສຶກສາ, ພັດທະນາທຸລະກິດພະລັງງານ, ສະໜອງອຸປະກອນ ສື່ສານໂທລະຄົມ,
        ເທັກໂນໂລຊີ ໂທທັລ
        ໂຊລູເຊັນ. ແມ່ນໄດ້ເອົາໃຈໃສ່ໃນການພັດທະນາທຸລະກິດໃນປະເທດລາວ ແລະ
        ເປັນອົງປະກອບການສະໜັບສະໜູນໃຫ້ແກ່ທຸລະກິດອື່ນໆ, ສ້າງຕົວທຸລະກິດໃຫ້ຈະເລີນກ້າວໜ້າ ແລະ
        ທັນສະໄໝ, ຮ່ວມມືຮ່ວມໂອກາດເພື່ອການລົງທຶນທັງພາຍໃນ ແລະ ຕ່າງປະເທດ.
      </p>
    </div>
  </div>
  <hr>
  <div class="text-center" data-aos="fade-up" data-aos-duration="2000">
    <h4><b>ທຸລະກິດທີ່ກຳລັງດຳເນີນການຢູ່ໃນປະຈຸບັນ</b></h4>
    <hr style="width: 20%; border: solid orange;">
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-sm" data-aos="fade-up" data-aos-duration="2000">
        <img src="../../../assets/images/1.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sed vitae reprehenderit alias accusantium nihil
          ea sint, est aliquid quisquam.</p>
      </div>
      <div class="col-sm" data-aos="fade-up" data-aos-duration="2000">
        <img src="../../../assets/images/2.jpg"  alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, delectus labore. Quae cumque sequi nam.</p>
      </div>
      <div class="col-sm" data-aos="fade-up" data-aos-duration="2000">
        <img src="../../../assets/images/3.jpg" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam architecto exercitationem tempora saepe
          eveniet. Natus! </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm" data-aos="fade-up" data-aos-duration="2000">
        <img src="../../../assets/images/counters-bg.jpg" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ducimus impedit nihil! Fugit, rerum? Quod.</p>
      </div>
      <div class="col-sm" data-aos="fade-up" data-aos-duration="2000">
        <img src="https://cy.lnwfile.com/dy3ycx.jpg"  alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dicta non dolorum eos vel sapiente. </p>
      </div>
      <div class="col-sm" data-aos="fade-up" data-aos-duration="2000">
        <img
          src="https://previews.123rf.com/images/jayzynism/jayzynism1510/jayzynism151000109/45895432-electric-post-power-plant-transformer-station-.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae provident, maxime cumque dolorem
          recusandae id? </p>
      </div>
    </div>


    <div class="row">
      <div class="col-sm" data-aos="fade-up" data-aos-duration="2000">
        <img src="https://moderndiplomacy.eu/wp-content/uploads/2018/07/china-economy.jpg" style="width: 300px;" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sint est quasi nulla dignissimos vitae?</p>
      </div>
      <div class="col-sm" data-aos="fade-up" data-aos-duration="2000">
        <img
          src="https://s.isanook.com/la/0/rp/rc/w700h366/yacxacm1w0/aHR0cHM6Ly9zLmlzYW5vb2suY29tL2xhLzAvdWQvNy8zNzU0NC8zNzU0NC5qcGc=.jpg"
          style="width: 300px;" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora aliquid libero eum commodi repellat cum?
        </p>
      </div>
      <div class="col-sm" data-aos="fade-up" data-aos-duration="2000">
        <img
          src="https://www.dmu.ac.uk/webimages/study-images/courses/business-and-law/postgraduate/project-management-img-01.jpg"
          style="width: 300px;" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, dolorum. </p>
      </div>
    </div>
  </div>

  <hr>
  <div class="text-center">
    <h4>ກິດຈະການໃນເຄືອຮ່ວມທຸລະກິດ</h4>
    <hr style="width:20%; border: solid orange;">
  </div>


<div class="container mt-5">
  <div class="text-center">
    <div class="row mb-4">
      <div class="col">
        <img src="https://www.ifs.com/corp/-/media/images/refresh2019/t3-page-intro-1200x630/work-site-telecommunication.jpg?h=630&w=1200" alt="">
        <p class="mt-3">ບໍລິສັດ ສະຫະ ເທັກໂນໂລຊີ ເທເລຄອມ ພາວເວີເຊີວິດ ຈຳກັດ.</p>
      </div>
      <div class="col">
        <img src="https://www.greatermekong.org/sites/default/files/Renewable_energy_gms_09072017.jpg" alt="">
        <p class="mt-3">ບໍລິສັດ ສະຫະ ໂອໂຕເມຊັນ & ເທັກໂນໂລຊີ ພາວເວີລາວ.</p>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col">
        <img src="../../../assets/images/3.jpg" alt="">
        <p class="mt-3">ບໍລິສັດ ຫຸ້ນສ່ວນລັດ ເອັມແອນແຊັດ ເປໂຕຣ ລາວ.</p>
      </div>
      <div class="col">
        <img src="../../../assets/images/2.jpg" alt="">
        <p class="mt-3">ບໍລິສັດ ປຣະຊາ ທີ່ປຶກສາການຄ້າ - ການລົງທຶນ.</p>
      </div>
    </div>
  </div>
</div>



