<footer id="contact" class="page-footer font-small">
    <div class="overlay-mf">
      <div style="background-color:rgb(45, 47, 54); color: white;">
        <div class="container ">

          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

              <!-- Facebook -->
              <a href="#" class="fb-ic" style="color: white; font-size: 25px;" data-aos="fade-up" data-aos-duration="500">
                <i class="fab fa-facebook-f white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a href="#" class="tw-ic" style="color: white; font-size: 25px;" data-aos="fade-up" data-aos-duration="1000">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a href="#" class="gplus-ic" style="color: white; font-size: 25px;" data-aos="fade-up" data-aos-duration="1500">
                <i class="fab fa-google-plus-g white-text mr-4"> </i>
              </a>
              <!--whatsApp -->
              <a href="#" class="li-ic" style="color: white; font-size: 25px;" data-aos="fade-up" data-aos-duration="2000">
                <i class="fab fa-whatsapp white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a href="#" class="ins-ic" style="color: white; font-size: 25px;" data-aos="fade-up" data-aos-duration="2500">
                <i class="fab fa-instagram white-text"> </i>
              </a>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="color: white;">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold" style="color: white;">Zaha Trust Trading & Service
            </h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto bg-light" style="width: 150px;">
            <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
              consectetur
              adipisicing elit.</p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white;">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">About Us</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-light" style="width: 60px;">
            <p>
              <a href="#!">History</a>
            </p>
            <p>
              <a href="#!">Vision & Mission</a>
            </p>
            <p>
              <a href="#!">Message's CEO</a>
            </p>
            <p>
              <a href="#!">Meet our CEO</a>
            </p>
            <p>
              <a href="#!">Organization</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white;"> -->

            <!-- Links -->
            <!-- <h6 class="text-uppercase font-weight-bold">Help</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-light" style="width: 60px;">
            <p>
              <a href="#!">Your Account</a>
            </p>
            <p>
              <a href="#!">Facebook Fan Page</a>
            </p>
            <p>
              <a href="#!">Shipping Rates</a>
            </p>

          </div> -->
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color:white;">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-light" style="width: 60px;">
            <p>
              Nongbouathong street, Hongkhar village, chanthaboury district, Vientiane
              Capital, Laos </p>
            <p>
               zaha@gmail.com</p>
            <p>
              <i class="fas fa-phone-alt"></i>
               + 856 20 57728899</p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white;">Copyright©2020
        <a href="#"> zaha.com</a>
      </div>
    </div>

    <!-- Copyright -->

  </footer>
