<!-- <app-image-slide></app-image-slide> -->

<div class="container mt-5 mb-3">
  <div class="text-center">
    <h2>Technology Total Solution
      <hr style="width: 30%; border-color: orange;">
    </h2>
  </div>

  <div class="text-center mb-3 mt-4">
    <img src="../../../assets/images/counters-bg.jpg" style="width: 700px; height: 400px;" alt="">
  </div>
  <p> In world now, most is supported by technology, using to improve life, living, business, and continue by next
    generation. We provide energy equipment, telecommunication and IT.</p>
  <p> We join with Automation & Technology Service (ATS), Thailand and open JV company as named “Zaha Automation &
    Technology power service” in Lao PDR</p>
  <p> We are open to collaborate with any firm, to join development such as Smart meter, top up, smart card, e-wallet,
    content of telecommunication, mobile application development</p>

</div>
