<!-- <app-image-slide></app-image-slide> -->
<div class="container mt-2 mb-5">
    <h3> <i class="fas fa-map-marker-alt" style="color: red;"></i>&nbsp; Location:</h3> <hr>
    <map name="located" data-aos="fade-up" data-aos-duration="1000">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3793.3341030108904!2d102.60920745020067!3d18.056081487620695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x312442d798d66d3d%3A0xcef0c45f3825dabf!2sUnitel%20Nongphaya!5e0!3m2!1sen!2sla!4v1586953474153!5m2!1sen!2sla" width="100%" align="center" height="450" frameborder="0"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </map>
    <h3>
     Address : 
     </h3>
     <hr>
     <p data-aos="fade-up" data-aos-duration="2000">
         <i class="fas fa-map-marker-alt"></i>&nbsp; Nongbouathong street, Hongkhar Village, Chanthabouly District, Vientiane Capital 
     </p>
     <p data-aos="fade-up" data-aos-duration="2000">
         <i class="far fa-clock"></i>&nbsp; 8:00 AM to 5:00 PM <strong style="color: red;">(Saturday & Sunday is closed)</strong>
     </p>
     <p data-aos="fade-up" data-aos-duration="2000">
         <i class="fas fa-phone-alt"></i>&nbsp; +856 20 57728899
     </p>
     <p data-aos="fade-up" data-aos-duration="2000">
         <i class="fas fa-envelope"></i>&nbsp; zahatrust@gmail.com
     </p>
     <p data-aos="fade-up" data-aos-duration="2000">
         <i class="fab fa-facebook"></i>&nbsp; Zaha Trust
     </p>
</div>
