<div class="container">
  <!-- <div class="text-center mt-5 mb-3" data-aos="fade-up" data-aos-duration="2000">
    <img style="width: 160px; border:1px solid #999; border-radius: 50%; box-shadow: rgba(204, 204, 204, 0.87) 2px 2px 5px 1px;" src="../../../assets/images/logo.jpg">
  </div> -->
  <div class="text-center mb-5 mt-5" data-aos="fade-up" data-aos-duration="2000">
    <h2>
      Meet our CEO
    </h2>
    <!-- <hr style="max-width: 20%; border: solid orange;"> -->
  </div>

  <div class="row mt-2 mb-3">
    <!-- <div class="text-left">
      <img src="../../../assets/images/266-2665205_ceo-ceo-cartoon-png.png"
        style="width: 200px; height: auto; border-radius: 50%;" alt="..." data-aos="fade-up" data-aos-duration="3000">
    </div> -->
    <div class="col mt-2">
      <h5 data-aos="fade-up" data-aos-duration="3000" style="color: rgba(7, 101, 163, 0.87);">Chanthiva PRASASOUK</h5>
      <h6 data-aos="fade-up" data-aos-duration="3000" style="color: rgba(25, 134, 206, 0.87);">Chief Executive Officers</h6>
    </div>
  </div>

  <p> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Chanthiva</b> has gained over 15 years of experience in various
    industries including government works. He graduated
    from civil engineering, start working with local construction company in south of Laos on road construction 2000,
    and a few years later he provided consulting service in project management, cost control. Until 2004 he got
    promotion to CFO of poverty reduction project belong to Prime Minister’s Office, that time he worked closely with
    overseas donor, manage fund for projects including infrastructures, water sanitary, road access, and electricity
    supply in rural community. He worked base Washington DC office, About Association at USA, to control financial
    management, and supervise for offices in Laos, Viet Nam, and Cambodia for 2 years.
  </p>

  <div class="row" >
    <!-- <div class="col-sm-3 mt-2">
      <img src="../../../assets/images/counters-bg.jpg" style="width: 250px;" alt="">
    </div> -->
    <div class="col">
      <p > &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Come back Laos
        in 2007 graduated M.B.A at Kunming Technology and Science University co-programme National University of Laos, and
        move to be national consultant of National Committee for Business Development, Prime Minister’s Office, implemented
        on Reform and restructuring for 15 State Owned Enterprises including fuel (Laos State Fuel), water (water
        Enterprise), electricity (EDL), agriculture (DAI), and other master degree of faculty of economics from Oita Japan
        in 2009. Preparing EDL to be EDL Gen list in Lao Stock Exchange.</p>
    </div>
  </div>

  <div class="row mt-4" >
    <!-- <div class="col-sm-3 mt-2">
      <img src="../../../assets/images/counters-bg.jpg" style="width: 250px;" alt="">
    </div> -->
    <div class="col">
      <p> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; End of 2009,
        he worked for Krittaphong Group, in Deputy Managing Director of group company, mostly success on investment of
        projects in Vientiane Capital, Laos such as ASEM Villa property in 2011-2012, purchased and took operation over Don
        Chan Palace hotel from EXIM Bank Malaysia, purchased Luang Prabang Golf from Korea, study on irrigation hydropower
        project. Other business he owned in board of directors in engineer construction, and share in small hydro power in
        Laos. Mostly partners is Lao, and Chinese investors.</p>
    </div>
  </div>

  <div class="row mt-4" >
    <!-- <div class="col-sm-3 mt-3">
      <img src="../../../assets/images/counters-bg.jpg" style="width: 250px;" alt="">
    </div> -->
    <div class="col">
      <p> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In March 2014,
        he was founder of Zaha Trust Trading and Service company, during his management the company took two small
        hydropower as 15MW and 5MW, share in Nam Tha Hydropower 1.3 MW, supply steels to big construction project in
        Vientiane, supply coal to cement plants, overseas collaborated with China, Myanmar, Thailand, Viet Nam;
        representative service for Australia Potash Mine, Chinese Potash Project in Laos, Copper Mine Project. As highlight
        of Zaha group is implementing the Lao-Myanmar Electricity Power Purchase in 30 MW (phase 1) to distribute in
        Tachilek Shan State, and phase 2 is 200MW to 300MW coming pass Kengtung Shan State Myanmar; and management of
        Electricity Power and Solar Power Plant in Savanna khet, Laos in 30MW located border and zone of Savannakhet Special
        Economic, became the Group CEO later in end of 2016.</p>
    </div>
  </div>
</div>
