<div class="container mt-3">

  <h2 style="color: rgb(12, 90, 134);">Recruitment</h2>
  <hr>
  <br>
  <div class="container">
    <div class="row">
      <div class="col mb-5">
        <div class="card" data-aos="fade-right" data-aos-duration="2000">
          <div class="card-body">
            <h5 class="card-title">Head Line</h5>
            <div [ngClass]="{'show-less': showShortDesciption}">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio molestiae inventore nostrum dolorem natus
              blanditiis
              eligendi quaerat nobis dolorum facilis, illum enim ipsa voluptatem ex sunt veritatis expedita fugiat sequi
              repudiandae vero quis recusandae tenetur magnam? Officia enim sunt commodi laboriosam quis, vitae sed
              neque ea modi
              omnis dignissimos hic aliquam voluptatem nemo necessitatibus iste atque. Commodi quod porro maxime quam
              ullam id
              magni quidem obcaecati necessitatibus minus iste ipsa accusamus veniam sunt eum, sit praesentium quasi
              enim dolorem.
              Accusamus temporibus esse nobis quam provident vitae deleniti saepe qui accusantium cupiditate quaerat
              labore,
              sapiente architecto necessitatibus, adipisci quia repellat veritatis?
            </div>
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter"
              type="button" (click)="alterDescriptionText()">
              {{ showShortDesciption ? 'Read more': 'read less' }}
            </button>
          </div>
        </div>

        <br>

        <div class="card" data-aos="fade-right" data-aos-duration="2000">
          <div class="card-body">
            <h5 class="card-title">Head Line</h5>
            <div [ngClass]="{'show-less': showShortDesciption}">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio molestiae inventore nostrum dolorem natus
              blanditiis
              eligendi quaerat nobis dolorum facilis, illum enim ipsa voluptatem ex sunt veritatis expedita fugiat sequi
              repudiandae vero quis recusandae tenetur magnam? Officia enim sunt commodi laboriosam quis, vitae sed
              neque ea modi
              omnis dignissimos hic aliquam voluptatem nemo necessitatibus iste atque. Commodi quod porro maxime quam
              ullam id
              magni quidem obcaecati necessitatibus minus iste ipsa accusamus veniam sunt eum, sit praesentium quasi
              enim dolorem.
              Accusamus temporibus esse nobis quam provident vitae deleniti saepe qui accusantium cupiditate quaerat
              labore,
              sapiente architecto necessitatibus, adipisci quia repellat veritatis?
            </div>
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter"
              type="button" (click)="alterDescriptionText()">
              {{ showShortDesciption ? 'Read more': 'read less' }}
            </button>
          </div>
        </div>

        <br>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
  <!-- End Modal -->