<!-- <app-image-slide></app-image-slide> -->

<div class="container mt-5 mb-3">
  <div class="text-center mb-5">
    <h2>ສຶກສາ ແລະ ພັດທະນາທຸລະກິດ ພະລັງງານ
      <hr style="border-color: orange ; width: 20%;">
    </h2>
  </div>

  <div class="row mt-5 mb-3">
    <div class="col-5">
      <img src="../../../assets/images/3.jpg" style="width: 300px;" alt="">
    </div>
    <div class="col">
      <h4>Energy:</h4>
      <hr>
      <p>Study on opportunity for energy development, also collaborated investment joins. </p>
      <p>Zaha is a developer for hydropower, energy project we plan to create energy project of 200MW in southeast Asia,
        south Africa, including green energy, renewable power, and supply electricity from city to urban people</p>
    </div>
  </div>
  <hr>
  <div class="row mt-5 mb-3">
    <div class="col-5">
      <img src="../../../assets/images/3.jpg" style="width: 300px;" alt="">
    </div>
    <div class="col">
      <h4>Solar Power Plant</h4>
      <hr>
      <p>Zaha is studying on renewable energy like solar plant farm in (5 mw) Savannakhet, Shan state (30mw), Savan-SENO
        (5MW), (15MW) in Savannakhet Special Economic Zone, Laos, and Partnerships to provide Technical Team study visit
        and has targeted 50 mw in Madawaska, South Africa. Join study visit to supply solar energy in Lao-Bao.</p>
    </div>
  </div>
  <hr>
  <div class="row mt-5 mb-3">
    <div class="col-5">
      <img src="../../../assets/images/3.jpg" style="width: 300px;" alt="">
    </div>
    <div class="col">
      <h4>Hydro Power Plant </h4>
      <hr>
      <p>Executed MoU to feasibility study on hydro power plant in Xaysomboun province in capacity 15MW Nam Mang II, and
        5MW Nam Pa </p>
      <p>Survey and Design on 115 KV Eclectically Transmission to Thong Pha Jie Mountain Zone, Louang Prabang, Laos. </p>
      <p>Survey and Design – Solar plant Farm (10mw) for Agricultural Zone at Paksan, Bolikhamxay province, Laos   </p>
    </div>
  </div>
</div>
