<div class="container mt-5 mb-5">
  <div class="text-center mb-5">
    <!-- <img src="../../../assets/images/logo.jpg" style="width: 200px; border: 1px solid #999; border-radius: 50%; box-shadow: rgba(204, 204, 204, 0.87) 2px 2px 5px 1px;" alt=""
      data-aos="fade-up" data-aos-duration="3000">
    <br><br> -->
    <h2 data-aos="fade-up" data-aos-duration="3000">ບໍລິສັດ ສະຫະທຣັສ ການຄ້າ ແລະ ບໍລິການ ຈຳກັດ
      <hr style="width: 30%; border: solid orange;" data-aos="fade-up" data-aos-duration="3000">
    </h2>
  </div>

  <h5 style="color: rgb(8, 126, 204);" data-aos="fade-up" data-aos-duration="3000">Message's CEO</h5>
  <p data-aos="fade-up" data-aos-duration="3000"> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9th ASEM Summit of Heads of state and Government (ASEM 9)
    was hosted on 5-6 November 2012 by the Laos. This summit
    which the world known more about Laos.</p>
  <p data-aos="fade-up" data-aos-duration="3000"> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I am the founder Zaha Trust Trading and Service company,
    and consider atmosphere of regional development and growth
    economy like above mark that make Zaha put more efforts to move forward business, and more readiness preparing, to
    business develop on Technology, Trade, IT & Telecommunication, Energy, to connection build friends’ partner to join
    a reginal development for South East Asia like nearly Cambodia, Laos, Myanmar, Thailand, Vietnam.</p>
  <p data-aos="fade-up" data-aos-duration="3000"> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In 2014, We expand collaboration with more overseas
    partners, open join venture - company. Work closely with
    professional, learn from technical partner, more understand people, more support our team together success. Zaha
    intend on energy, LED equipment, solar plant, operation for power business, promote public private partnership in
    various sector of business. </p>
  <p data-aos="fade-up" data-aos-duration="3000"> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zaha is a developer for hydropower, energy project we plan
    to create energy project of 200MW in southeast Asia,
    south Africa, including green energy, renewable power, and supply electricity from urban city to people in rural
    area.</p>
  <p data-aos="fade-up" data-aos-duration="3000"> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finally, as a representative of the owners, the Board of
    Directors, I would like to say ‘’ KHOB CHAI or THANK YOU’’
    for all supports and motivation to my gratitude to all interested person, shareholders partner, executive officer,
    employee and financial institutions that always trust and supported US.</p>
  <p data-aos="fade-up" data-aos-duration="3000"> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We hope that the company will receive a great Support from
    everyone, steady growth and share success. </p>
</div>
